@using UrlShortener.BAL.Models
@model List<UrlModel>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <a asp-controller="Home" asp-action="Create"
       class="@(User.Identity?.IsAuthenticated == true ? "btn btn-success" : "d-none")">
        Add url
    </a>

    <table>
        <thead>
            <tr>
                <th id="id">Id</th>
                <th id="url">Url</th>
                <th id="shortedUrl">Shorter url</th>
            </tr>
        </thead>
        <tbody>
            @foreach (UrlModel model in Model)
            {
                <tr>

                    <td>@(model.Id)</td>
                    <td><a href="@(model.OriginalUrl)"> @(model.OriginalUrl) </a> </td>
                    <td><a href="@(model.OriginalUrl)"> @(model.ShortedUrl) </a> </td>
                    <td>
                        @if (User.Identity?.IsAuthenticated ?? false)
                        {
                            <a class="btn btn-info btn-sm" asp-controller="Home" asp-action="UrlDetails" asp-route-id="@(model.Id)">
                                Details
                            </a>
                        }
                        @if (User.Identity?.IsAuthenticated ?? false)
                        {
                            <form asp-action="RemoveUrl" asp-controller="Home" asp-route-id="@(model.Id)" method="post" class="d-inline">
                                <button type="submit" class="btn btn-danger btn-sm">Remove</button>
                            </form>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
