@using UrlShortener.BAL.Models
@model List<UrlModel>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <a href="Create">Add url</a>

    <table>
        <thead>
            <tr>
                <th id="id">Id</th>
                <th id="url">Url</th>
                <th id="shortedUrl">Shorter url</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                @foreach (UrlModel model in Model)
                {
                    <td>@(model.Id)</td>
                    <td><a href="@(model.OriginalUrl)"> @(model.OriginalUrl) </a> </td>
                    <td><a href="@(model.OriginalUrl)"> @(model.ShortedUrl) </a> </td>
                    <td>
                        <a class="btn btn-info btn-sm" asp-controller="Home" asp-action="Details" asp-route-id="@(model.Id)">
                            Details
                        </a>
                        <form asp-action="RemoveUrl" asp-controller="Home" asp-route-id="@(model.Id)" method="post" class="d-inline">
                            <button type="submit" class="btn btn-danger">Remove</button>
                        </form>
                    </td> 
                }
            </tr>

        </tbody>
    </table>
</div>
